<!--NAVIGATION-->


[[step07. 함수 학습 page로 이동](step07Function.ipynb) ] | [[step09.예외 처리 학습 page로 이동](step09_1Exception.ipynb) ] |

### 컴프리헨션

1. 리스트, 세트, 딕셔너리 내에서 실행 할 수 있는 한 줄 for문
- 리스트 컴프리헨션, 세트 컴프리헨션, 딕셔너리 컴프리헨션라고 함
- 컴프리헨션 : 내장, 내포의 의미

In [75]:
# 0~9까지 제곱하는 로직

datas = []



for x in range(10):
    datas.append(x**2)

In [76]:
datas

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [77]:
# comprehension 문법



datas

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [78]:
# 0~5까지 반복해서 순차적으로 +2를 한 결과값들을 하나의 list에 저장 후 출력


datas2

[2, 3, 4, 5, 6, 7]

**조건식 추가**

0~5까지의 데이터 중 양수인 경우만 +2를 해서 list에 저장 및 출력하기

In [79]:
# 일반 코드

datas2 =[]

for v in range(6):
    if v%2 == 0:
        datas2.append(v+2)
        
datas2

[2, 4, 6]

In [81]:
# comprehension 적용 코드

?

datas2

[2, 4, 6]

In [82]:
# list에 튜플 생성해서 저장하는 로직
combs = []

for x in [1, 2, 3]:
    for y in [3, 1, 4]:
        if x != y:
            combs.append((x, y))
            
combs

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

In [83]:
# comprehension 

?

combs2

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

- 딕셔너리와 세트에도 리스트 컴프리헨션에 해당하는 문법 존재

In [74]:
# {key:value, ... } - dict 구조에 comprehension 적용해 보기
'''
() : 불변인 튜플
[] : list는 데이터 타입과 무관하게 혼용해서 다 수용
[(1, 'one'), (2, 'two')] : 튜플들을 보유한 리스트

이 리스트로 딕셔너리 생성
'''
data = {x:y for x, y in [(1, 'one'), (2, 'two')]}

print(type(data))
print(data)
print(data[1])

<class 'dict'>
{1: 'one', 2: 'two'}
one

In [84]:
v = {1:2, 2:3, 3:4}

In [85]:
type(v)

dict

In [1]:
?

- 딕셔너리와 세트에 적용한 컴프리헨션

In [13]:
score = {'A' : 90, 'B' : 80, 'C' : 70}
rank_dict = {rank : name for rank, name in score.items()}

{'A': 90, 'B': 80, 'C': 70}
{80, 90, 70}

In [13]:
# zip 함수를 사용한 list들의 데이터를 활용하는 방법
x = [1, 2, 3]
y = [4, 5, 6]

?

1   4
2   5
3   6

In [2]:
# ? 함축( value * value 식이 수행되는 로직 개발)
# 데이터 값 : 0~9까지 (0*0, 1*1, 2*2,...)

In [15]:
#? 앞단 예제의 결과중에 짝수값만으로 새로운 list 구성해서 출력하기

[0, 4, 16, 36, 64]

In [16]:
for v in range(10):
    if v%2 == 0:
        print(v*v, end=' ')

0 4 16 36 64

In [3]:
# 결과치가 다음과 같을 경우 어떻게 함축 표현식을 만들어야 하는지?
# [ [10, 11, 12], [13, 14, 15], [16, 17, 18] ]

# 제시된 데이터 : [10, 11, 12] 과 [0, 1, 2]

?

**미션 - comprehension 문법으로 변경하기**

In [20]:
eve = []
for i in range(10, 30):
    for j in range(10, 30):
        a = i * j
        if str(a) == str(a)[::-1]:
            eve.append(a)
print(eve)

[121, 242, 252, 252, 272, 464, 272, 323, 252, 414, 323, 494, 252, 525, 242, 484, 616, 414, 575, 696, 525, 575, 494, 676, 616, 464, 696]

**미션 : 제시된 코드와 동일한 로직의 comprehension 구성하기**

In [22]:

reference = [1, 2, 3, 4, 5, 6]

output = []

for number in reference:
    if number % 2 == 0:
        prev_num = number-1  # calculate previous number
        output.append(prev_num)  # append to the list

print(output)

[1, 3, 5]

**미션 : 제시된 반복문등을 분석 하고 comprehension 문법 적용해서 결과에 맞게 구성하기**

In [32]:
list_string = ['encore', 'playdata', 'OpenPose', '4차 산업 인재상']

for word in list_string:
    print(word)
    
print("----- split() -----")
    
for word in list_string:
    print(word.split())
    
    
print('----- list에 저장 -----')
list = []
for word in list_string:
    list.append(word.split())
    
print(list)

encore
playdata
OpenPose
4차 산업 인재상
----- split() -----
['encore']
['playdata']
['OpenPose']
['4차', '산업', '인재상']
----- list에 저장 -----
[['encore'], ['playdata'], ['OpenPose'], ['4차', '산업', '인재상']]

**미션 : 제시된 데이터를 활용하여 철자 길이가 4이상인 경우의 데이터에 한해서만 문자열의 첫 글자만 대문자로 및 출력**

In [1]:
words = ['encore', 'playdata', 'sw응용&분석', 'hi']

slicing 기술 적용해서 sw응용&분석 유지하는 코드